<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h1>Contacts</h1>
                <a [routerLink]="['new']" class="btn btn-success btn-lg pull-right">New Contact</a>
            </div>
            <div class="panel-body">
                <cms-contact-list></cms-contact-list>
                </div>
        </div>
        
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>


    