<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-left"
             *ngIf="contact">
            <h3 class="panel-title" style="margin-top: 0;">{{ contact.name }}</h3>
            <img [src]="contact.imageUrl"
                 [alt]="contact.name"
                 class="img-thumbnail"
                 style="max-height: 120px; margin-top: 5px;">
        </div>
        <div class="pull-right" style="margin-top: 10px;">
            <a [routerLink]="['edit']" class="btn btn-primary btn-sm" style="margin-right: 5px;">Edit</a>
            <a (click)="onDelete()" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>
    <div class="panel-body">
        <h3>Details</h3>
        <p><strong>Email: </strong>{{ contact.email }}</p>
        <p><strong>Phone: </strong>{{ contact.phone }}</p>
    </div>
</div>

